<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="margin-top: 25px; padding: 25px;">
    <ion-list>
      <ion-list>
    
        <ion-item>
          <ion-input [(ngModel)]="usuario" label="Usuario:"  placeholder="Ingrese Usuario"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input [(ngModel)]="contrasena" label="Contrasena:" type="password" value="password" placeholder="Ingrese Contraseña"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-button expand="block" (click)="validar()"> Ingresar </ion-button> 
          <ion-button expand="block" color="warning" (click)="recuperar()"> Recuperar </ion-button>
        </ion-item>

      </ion-list>
    </ion-list>
  </div>
</ion-content>
